<nav>
  <div class="example-button-row">
      <div class="example-flex-container">
          <div class="example-button-container">
              <a mat-fab extended routerLink="/soirees">
                  Soirées
              </a>
          </div>
          <div class="example-button-container">
              <a mat-fab extended routerLink="/reservations">
                  Réservations
              </a>
          </div>
          <div class="example-button-container">
              <a mat-fab extended routerLink="/goodies">
                  Goodies
              </a>
          </div>
      </div>
  </div>
</nav>