<div class="monForm">
    <section class="subForm saisieForm">
        <h2>Nouvelle réservation</h2>
        <form [formGroup]="formulaire" class="example-form">

            <div class="form-group">
                <mat-form-field class="input example-full-width">
                    <mat-label>Nom étudiant</mat-label>
                    <input type="text" matInput id="nom" formControlName="nom" class="form-control" placeholder="Ex. Latxague le plus beau">
                    @if (formulaire.get('nom')?.hasError('required')) {
                        <mat-error>Ce champ est requis</mat-error>
                    }
                    @if (formulaire.get('nom')?.hasError('minlength')) {
                        <mat-error>Ce champ doit comporter au moins <strong>2 caractères</strong></mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="input example-full-width">
                    <mat-label>Email étudiant</mat-label>
                    <input type="text" matInput id="email_etudiant" formControlName="email_etudiant" class="form-control" placeholder="Ex. tlatxague@iutbayonne.univ-pau.fr">
                    @if (formulaire.get('email_etudiant"')?.hasError('required')) {
                        <mat-error>Ce champ est requis</mat-error>
                    }
                    @if (formulaire.get('email_etudiant"')?.hasError('email')) {
                        <mat-error>Ce champ doit être un email valide</mat-error>
                    }
                </mat-form-field>
            </div>
            
            <div class="form-group">
                <mat-form-field class="input example-full-width">
                    <mat-label>Téléphone étudiant</mat-label>
                    <input type="text" matInput id="telephone_etudiant" formControlName="telephone_etudiant" class="form-control" placeholder="Ex. 06 37 07 41 42 (appelle moi)">
                    @if (formulaire.get('telephone_etudiant')?.hasError('required')) {
                        <mat-error>Ce champ est requis</mat-error>
                    }
                    @if (formulaire.get('telephone_etudiant')?.hasError('pattern')) {
                        <mat-error>Ce champ doit être un numéro de téléphone valide</mat-error>
                    }
                </mat-form-field>
            </div>
            
            <mat-form-field class="input example-full-width">
                <mat-label>Soirée</mat-label>
                <mat-select id="soiree" formControlName="soiree">
                  <mat-option *ngFor="let soiree of listSoirees" [value]="soiree">
                    {{ soiree.nom }}
                  </mat-option>
                </mat-select>
                @if (formulaire.get('date_reservation')?.hasError('required')) {
                    <mat-error>Ce champ est requis</mat-error>
                }              
            </mat-form-field>
              
              

            <div class="form-group">
                <mat-form-field class="input example-full-width">
                    <mat-label>Date reservation</mat-label>
                    <input type="datetime-local" matInput id="date_reservation" formControlName="date_reservation" class="form-control">
                    @if (formulaire.get('date_reservation')?.hasError('required')) {
                        <mat-error>Ce champ est requis</mat-error>
                    }
                    @if (formulaire.get('date_reservation')?.hasError('min')) {
                        <mat-error>Ce champ doit être supérieur à 0</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Statut</mat-label>
                    <mat-select formControlName="statut">
                        <mat-option value="En attente">En attente</mat-option>
                        <mat-option value="Confirmée">Confirmée</mat-option>
                        <mat-option value="Annulée">Annulée</mat-option>
                    </mat-select>
                    @if (formulaire.get('statut')?.hasError('required')) {
                        <mat-error>Ce champ est requis</mat-error>
                    }
                </mat-form-field>
            </div>              

            <div class="form-group">
                <mat-form-field class="input example-full-width">
                    <mat-label>Goodies</mat-label>
                    <input type="text" matInput id="goodies" formControlName="goodies" class="form-control" placeholder="Ex. T-shirt du BDE, blabla">
                    @if (formulaire.get('goodies')?.hasError('required')) {
                        <mat-error>Ce champ est requis</mat-error>
                    }
                    @if (formulaire.get('goodies')?.hasError('min')) {
                        <mat-error>Ce champ doit être supérieur à 0</mat-error>
                    }
                </mat-form-field>
            </div>
            
            <button [disabled]="formulaire.invalid" type="submit" (click)="addReservation()">Envoyer le formulaire</button>
        </form>
    </section>

    <!-- <section class="subForm visuForm">
        <h2>Vue du Goodie</h2>
        @if (currentGoodie !== undefined) {
            <h3>{{currentGoodie.nom}}</h3>
            <p>Quantite : {{currentGoodie.quantite}}</p>
            <p>Description : {{currentGoodie.description}}</p>
            <p>Prix : {{currentGoodie.coutUnitaire}}</p>
        }
    </section> -->
</div>